body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#input-container {
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  height: 400px;
  width: 100%;
}
h1 {
  font-size: 275%;
  margin: 25px;
}
#header-idea {
  color: #00A79D;
}
#header-box {
  color: #6D6E71;
}
input {
  font-size: 120%;
  height: 30px;
  width: 450px;
  margin: 15px;
  outline: none;
  text-indent: 10px;
}
button {
  background-color: #00A79D;
  border-style: none;
  color: #FFFFFF;
  font-size: 120%;
  height: 32px;
  width: 450px;
  margin: 15px;
  outline: none;
}
button:hover {
  background-color: #045E55;
  cursor: pointer;
}
#output-container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#each-idea-container {
  margin: 20px;
}
h3 {
  color: #6E6D71;
  font-family: 'Roboto Slab', serif;
  font-size: 130%;
}
p {
  color: #939598;
}
#designation-quality {
  font-family: 'Roboto Slab', serif;
}
h6 {
  color: #6E6D71;
}
hr {
  color: #D1D3D4;
}
img {
  height: 20px;
  width: 20px;
}
#upvote:hover {
  cursor: pointer;

}
#downvote {
  cursor: pointer;

}
#delete {
  cursor: pointer;
  
}
