body {
  display: flex;
  flex-direction: column;
}
#input-container {
  background-color: #E5F3F2;
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}
h1 {
  font-size: 275%;
  margin: 25px;
}
#header-idea {
  color: #00A79D;
}
#header-box {
  color: #6D6E71;
}
input, textarea {
  border: solid 1px #D1D3D4;
  font-size: 120%;
  height: 30px;
  width: 450px;
  margin: 15px;
  outline: none;
  text-indent: 10px;
  resize: none;
}
button {
  background-color: #00A79D;
  border-style: none;
  color: #FFFFFF;
  font-size: 120%;
  height: 32px;
  width: 452px;
  margin: 15px;
  outline: none;
}
button:hover {
  background-color: #045E55;
  cursor: pointer;
}
#output-container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.each-idea-card {
  margin: 20px;
  width: 450px;
}
.each-idea-card header {
  height: 32px;
  width: 100%;
}
h3 {
  color: #6E6D71;
  font-family: 'Roboto Slab', serif;
  font-size: 130%;
  float: left;
  max-width: 250px;
  max-height: 32px;
  /*// WIP overflow: hidden;*/
}
p {
  color: #939598;
  position: relative;
}
.each-idea-card footer {
  height: 24px;
  width: 100%;
  margin: 30px 0 30px 0;
}
.designation-quality {
  font-family: 'Roboto Slab', serif;
}
h6 {
  color: #6E6D71;
  display: inline-block;
  margin-left: 25px;
}
hr {
  color: #D1D3D4;
}
figure {
  height: 20px;
  width: 20px;
  padding: 2px;
  transition-duration: .4s;
}
figure:hover {
  cursor: pointer;
}
.upvote {
  background-image: url('images/upvote.svg');
  display: inline-block;
}
.upvote:hover {
  background-image: url('images/upvote-hover.svg');
}
.downvote {
  background-image: url('images/downvote.svg');
  display: inline-block;
  margin-left: 20px;
}
.downvote:hover {
  background-image: url('images/downvote-hover.svg');
}
.delete {
  background-image: url('images/delete.svg');
  float: right;
}
.delete:hover {
  background-image: url('images/delete-hover.svg');
}

.editing-input-contenteditable {
  border: none;
  outline: normal;
  outline-color: #D1D3D4;
}
@media screen and (max-width: 500px) {
  #input-container {
    height: 300px;
  }
  h1 {
    font-size: 150%;
    margin: 15px;
  }
  input, textarea {
    font-size: 100%;
    width: 200px;
  }
  #body-input {
    height: 80px;
    white-space: wrap;
  }
  button {
    font-size: 100%;
    width: 202px;
  }
  .each-idea-card {
    margin: 10px;
    width: 200px;
  }
  .each-idea-card header {
    height: 30px;
  }
  h3 {
    font-size: 120%;
    float: left;
    max-width: 150px;
  }
  p {
    clear: both;
  }
  .each-idea-card footer {
    height: 24px;
    margin: 20px 0 20px 0;
  }
  h6 {
    margin-left: 20px;
    font-size: 80%;
  }
  figure {
    height: 15px;
    width: 15px;
  }
}
