body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#input-container {
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  height: 400px;
  width: 100%;
}
h1 {
  font-size: 200%;
  margin: 25px;
}
#header-idea {
  color: #00A79D;
}
#header-box {
  color: #6D6E71;
}
input {
  height: 30px;
  width: 250px;
  margin: 15px;

}
#title-input {


}
#body-input {

}
#save-button {

}
#output-container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 100%;
}
